 ---
import { getEntry } from 'astro:content';
const entry = await getEntry('index', 'intro');
const { title, description, buttons, img } = entry.data;
---

<section class="section section--intro" data-id="intro" data-aos="fade">
	<div class="container">
		<div class="section__grid">
			<div class="section__content">
				<header class="section__header" data-aos="fade-up">
					<h1 set:html={title} />
				</header><!-- /.section__header -->

				{description && (
					<div class="section__text" data-aos="fade-up" data-aos-delay="100">
						<p>
							{description}
						</p>
					</div>
				)}

				{buttons && (
					<div class="buttons">
						{buttons.main && (
							<a href={buttons.main.link} class="button" data-aos="fade-up" data-aos-delay="200">
								<span>
									{buttons.main.title}
								</span>
							</a>
						)}

						{buttons.alt && (
							<a href={buttons.alt.link} class="button button--border" data-aos="fade-up" data-aos-delay="300">
								<span>
									{buttons.alt.title}
								</span>
							</a>
						)}
					</div>
				)}
			</div><!-- /.section__content -->

			{img && (
				<div class="section__image" data-aos="fade-left">
					<img src={img.src} width={img.width} height={img.height} alt={img.alt}>
				</div>
			)}
		</div><!-- /.section__grid -->
	</div><!-- /.container -->
</section><!-- /.section -->
