---
import { getEntry } from 'astro:content';
import Service from '../components/Service.astro';
import ServiceDetails from '../components/ServiceDetails.astro';

const entry = await getEntry('index', 'services');
const { subtitle, title, services } = entry.data;
// const images = import.meta.glob('../icons/*', { as: 'raw', eager: true });
---

<section class="section section--services" data-id="services">
	<div class="container">
		{subtitle && (
			<div class="section__subheader" data-aos="fade-up">
				<p>
					{subtitle}
				</p>
			</div>
		)}

		{title && (
			<header class="section__header" data-aos="fade-up">
				<h2>
					{title}
				</h2>
			</header>
		)}

		{services && (
			<div class="services js-services">
				<div class="services__header">
					<div class="slider slider--services services__slider js-slider-services">
						<div class="swiper">
							<div class="swiper-wrapper">
								{services.map((service, i) => (
									<div class="swiper-slide" key={i}>
										<Service
											index={i}
											title={service.title}
											slug={service.slug}
											icon={service.icon}
										/>
									</div>
								))}
							</div>
						</div>
					</div>
				</div>

				<div class="services__body">
					{services.map((service, i) => (
						<div class="swiper-slide" key={i}>
							<div class:list={[ 'services__tab', { 'is-current': i === 0 }, 'js-service-tab' ]} data-service={service.slug}>
								<div class="services-details">
									<div class="services__grid">
										{service.cards.map((card, i) => (
											<div class="services__grid-item" key={i}>
												<ServiceDetails
													icon={card.icon}
													title={card.title}
													text={card.text}
												/>
											</div>
										))}
									</div>
								</div>
							</div>
						</div>
					))}
				</div>
			</div>
		)}
	</div><!-- /.container -->
</section><!-- /.section -->
